.page {
    background-color: #d2fcd2;
}

.photo {
    max-height: 150px;
    border: 0 solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* https://www.tutorialspoint.com/css/css_printing.htm */
@media print {
    .screen {
        display: none;
    }

    body {
        font-size: 19px;
    }

    .card {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .badge {
        border: 0.07rem solid #000000;
        color: #000000;
        background-color: #f0f0f0;
    }
}

@media not print {
    .print {
        display: none;
    }

    .index-body {
        background-color: #B5BC85;
        /*
        background-image: url("a.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid red;
        width: 100%;
        */
    }
    .index-body h1, .index-body a:link, .index-body a:visited, .index-body a:hover, .index-body a:active {
        color: #7a3e7a;
    }
    
    .cv-body .non-link-fact, .cv-body a:link, .cv-body a:visited, .cv-body a:hover, .cv-body a:active {
        color: #a759ff;
    }

    .badge {
        color: #ffffff;
        background-color: #a759ff;
    }

    .card {
        background-color: #e8ffe8;
        border: 1px solid #d2fcd2;
    }

    @media (min-width: 576px) {
        .page {
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.75);
            position: relative;
            padding: 32px;
        }
    }

    h1, h2, h3, h4 {
        font-weight: 300;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: normal;
    }

    /*strong {
        font-weight: 500;
    }*/
}

a .fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.badge {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

@media print {
    .col-print-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-print-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-print-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-print-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-print-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-print-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-print-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-print-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-print-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-print-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-print-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-print-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
